<!-- templates/registration/login.html -->
{% extends "master.html" %}

{% block title %}
Profile
{% endblock %}
<style>
    a{
        color:black;
    }
    
</style>
{% block content %}
    <h1 style="color:black; font-size: 40px; margin-left: 50px"> Name: {{ user.username }}</h1>
    <h1 style="color:black; font-size: 40px; margin-left:50px"> Email: {{ user.email }}</h1>
    <p style="color:black; font-size: 40px; margin-left:50px"><a href={% url "password_change" %} style="color:black"> Change password </a></p>
{% endblock %}




